.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
}

main {
  margin: 16px;
}

.navbar-brand {
  font-family: "Lucida Handwriting", "Open Sans";
  font-size: 80%;
}

.navbar-header {
  background-color: gainsboro;
}

.card {
  margin-right: auto;
  padding: 10 px 16 px;
  max-width: 400px;
}
